:root {
  --primary-font-family: "Open Sans", sans-serif;
  --secondary-font-family: "Raleway", sans-serif;
  --primary-text-color-dark-theme: #9da4bd;
  --secondary-text-color-dark-theme: #ffffff;
  --third-text-color-dark-theme: rgba(157, 164, 189, 0.6);
  --primary-text-color-light-theme: #555555;
  --secondary-text-color-light-theme: #303030;
  --accent-color: #ff6c00;
  --old-school-backgrond-color: #f7f7f7;
}
body {
  font-family: var(--primary-font-family);
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

address {
  font-style: normal;
}
.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.section {
  padding-top: 130px;
  padding-bottom: 130px;
}

/*   START COMPONENTS */

.modal-btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  cursor: pointer;
  /* color: #FFFFFF; */
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--accent-color);
  color: var(--secondary-text-color-dark-theme);
}

.social-links-list-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--secondary-text-color-light-theme);
}

.social-links-list-link:hover,
.social-links-list-link:focus {
  color: var(--accent-color);
}

.overtittle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.overtittle-dark-theme {
  color: var(--third-text-color-dark-theme);
}

.overtitle-theme-light {
  color: var(--secondary-text-color-light-theme);
}

.description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.description-theme-light {
  color: var(--primary-text-color-light-theme);
}

.description-theme-dark {
  color: var(--primary-text-color-dark-theme);
}

.title {
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}

.title-theme-light {
  color: var(--secondary-text-color-light-theme);
}

.title-theme-dark {
  /* color: var(--secondary-text-color-dark-theme); */
}
/*   END COMPONENTS */

/*  START HEADER */

.nav-list-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  /* color: var(--secondary-text-color-dark-theme); */
}

.nav-list-link:hover,
.nav-list-link:focus {
  color: var(--accent-color);
}

.contact-number {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  /* color: var(--secondary-text-color-dark-theme); */
}

.contact-number:hover,
.contact-number:focus {
  color: var(--accent-color);
}

/* END HEADER */

/* START HERO */

.main-tittle {
  font-family: var(--secondary-font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  /* color: var(--secondary-text-color-dark-theme); */
}

/* /END HERO */

/* START ABOUT LIGHT THEME */

.about-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: var(--primary-text-color-light-theme);
}

.btn-light-theme {
  color: var(--secondary-text-color-light-theme);
  background-color: var(--secondary-text-color-dark-theme);
}

/* /END ABOUT LIGHT THEME */

/* START PRICES DARK THEME */
.prices-list-name,
.prices-list-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--primary-text-color-dark-theme);
}

/* /END PRICES DARK THEME */

/* START ADVANTAGES LIGHT THEME */

.advantages-list-quantity {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--secondary-text-color-light-theme);
}

.advantages-list-description {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: var(--secondary-text-color-light-theme);
}

.advantages-list-item {
  background-color: var(--old-school-backgrond-color);
}

/* /END START ADVANTAGES LIGHT THEME */

/* START EMPLOYEES */

.employees-name {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color-light-theme);
}

.employees-position {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
/*/ END  EMPLOYEES */

/* START GALLERY */

/* /END  GALLERY */

/* START CONTACT DARK THEME */

.contact-list-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--primary-text-color-dark-theme);
}

.contact-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  /* color: var(--secondary-text-color-dark-theme); */
}

.contact-info-date {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--primary-text-color-dark-theme);
}

/* /END  CONTACT DARK THEME */

/* START FOOTER */

.copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--primary-text-color-dark-theme);
}

/* /END FOOTER */
