.employees-section .title {
  margin-bottom: 44px;
}

.employees-section {
  background-color: var(--old-school-backgrond-color);
}

.employees-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.employees-card {
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc((100% - 90px) / 3);
}

.employees-container {
  padding-top: 30px;
}

.employees-name {
  margin-bottom: 8px;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color-light-theme);
}

.employees-position {
  margin-bottom: 30px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.social-list {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  width: 44px;
  height: 44px;
  background-color: var(--secondary-text-color-dark-theme);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--secondary-text-color-light-theme);
}

.social-list-icon {
  fill: var(--secondary-text-color-light-theme);
}

.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: var(--accent-color);
}
