.page-header {
  position: absolute;
  width: 100%;
}

.container-header {
  display: flex;
  align-items: center;
}
.navigation {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  margin-right: 70px;
  align-items: center;
}
.nav-list__item:not(:last-child) {
  margin-right: 40px;
}

.nav-list__link {
  padding-top: 48px;
  padding-bottom: 48px;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--secondary-text-color-dark-theme);

  transition: color 250ms linear;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.contact-number {
  display: flex;
  margin-left: auto;
  margin-right: 60px;
  padding-top: 48px;
  padding-bottom: 48px;
  align-items: center;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--secondary-text-color-dark-theme);

  transition: color 250ms linear;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
