.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1000;
  transition: opacity 250ms linear;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transform: translate(-50%, -50%);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 528px;
  height: 580px;
  background-color: var(--secondary-text-color-dark-theme);
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #555555;
  background-color: transparent;
  cursor: pointer;

  padding: 0;
  transition: border-color 250ms linear;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  border-color: var(--accent-color);
}

.modal-close-btn-icon {
  fill: var(--secondary-text-color-light-theme);
  transition: fill 250ms linear;
}

.modal-close-btn:hover .modal-close-btn-icon,
.modal-close-btn:focus .modal-close-btn-icon {
  fill: var(--accent-color);
}
